* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffc0e6;
    background-image: url("../fresas_fondo.jpg");
    background-size: 80vw 250vh;
    font-family: "Kalnia Glaze", sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: rgb(231, 159, 207);
    text-align: center;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.menu-toggle {
    display: none; 
}

.menu-icon {
    display: none; 
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    display: flex; 
    justify-content: center; 
}

.nav-list li {
    margin: 0 15px; 
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
}

.nav-list li a:hover {
    background-color: rgb(221, 18, 92);
    }

.main-content {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.main-content .image {
    width: 45%;
    padding: 20px;
    text-align: center;
}

.main-content .video {
    width: 45%;
    padding: 20px;
    text-align: center;
    margin-top: 110px; 
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .main-content .image, .main-content .video {
        width: 80%;
        margin-bottom: 20px;
    }

    .menu-icon {
        display: block; 
    }

    .nav-list {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(229, 91, 183);
        padding: 10px 0;
    }

    .menu-toggle:checked + .menu-icon + .nav-list {
        display: flex; 
    }

    .nav-list li {
        display: block; 
        margin-bottom: 10px; 
        text-align: center; 
    }
}

@media (max-width: 480px) {
    .main-content .image, .main-content .video {
        width: 100%;
        padding: 10px;
    }

    .nav-list li {
        font-size: 16px; 
        margin-bottom: 5px; 
    }

    .nav-list li a {
        padding: 8px 10px; 
    }
}
